.container {
  h1{
    color: #323232;
    font-size: 4.8rem;
    font-weight: 300;

    span {
      color: #E43A15;
    }
  }
  h2{
    color: #323232;
    font-size: 4.8rem;
    font-weight: 300;

    span {
      color: #E43A15;
    }
  }
}