.container {
  background: linear-gradient(90.06deg, #E43A15 0.03%, #E65245 99.03%);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.title {
  font-weight: 300;
  font-size: 6.4rem;
  line-height: 149.25%;
  color: #F2F2F2;
}

.social {
  position: absolute;
  bottom: 5rem;
  left: 10rem;
}