.container {
}

.title {
  font-size: 2.8rem;
  line-height: 4rem;
  color: #FEFEFE!important;

  span {
    color: white!important;
  }

  &__black {
    composes: title;
    color: black!important;

    span {
      color: #E43A15!important;
    }
  }
}

.flex {

  &__invert {
    flex-direction: row-reverse;
  }
}

.img {
  width: 100%;
  height: 20rem;
  margin: 5rem 0;
  background: no-repeat center;
  background-size: contain;
}