.container {
  background-color: #E65245;
  transition: background-color 300ms ease-in;

  &__white {
    composes: container;
    background-color: #ffffff;
  }

  h2{
    color: #323232;
    font-size: 4.8rem;
    font-weight: 300;

    span {
      color: #E43A15;
    }
  }
}