.container {
  position: relative;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}

.item {
  position: absolute;
  width: 16rem;
  height: 16rem;
  background: rgba(196, 196, 196, 0.16);
  transform: rotate(-45deg);
}