.icons {
  width: 100%;

  &__item {
    display: inline-block;
    width: 5rem;
    height: 3rem;
    background: no-repeat center;
    background-size: contain;

    &:hover {
      opacity: 0.6;
    }
  }
}