.container {
  // background-color: white;
  position: fixed;
  background: linear-gradient(90.06deg, #E43A15 0.03%, #E65245 99.03%);
  width: 100%;
  top: 0;
  z-index: 100;
}

.flex {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}


.logo {
  font-size: 2.4rem;
  line-height: 4.2rem;
  color: #ECECEC;
  cursor: pointer;
}

.burger {
  width: 4rem;
  height: 3rem;
  background: url("../../static/icons/burger.svg") no-repeat center;
  background-size: contain;

  &__close {
    composes: burger;
    background-image: url("../../static/icons/clear.svg");
  }
}

.submenu {
  top: 7rem;
  height: calc(100vh - 7rem);
  width: 90%;
  padding: 5%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  a {
    display: block;
  }
}

.item {
  font-size: 2.4rem;
  margin-bottom: 5rem;
  font-weight: 400;

  //&:after {
  //  content: '';
  //  margin: 1rem 0;
  //  display: block;
  //  width: 40%;
  //  border-top: solid 1px black;
  //}
}

.text {
  margin-top: 8rem;
  font-size: 1.8rem;
  font-weight: 300;
}

.icons {
  background-color: #E43A15;
}