body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
html {
    font-size: calc( 100vw / 1440 * 10 );

    

    @media all and (max-width: 767px) {
      font-size: calc( 100vw / 320 * 10 );
    }

  @media all and (min-width: 1600px) {

    font-size: calc( 100vw / 1700 * 10 );
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: #E43A15;
  transition: all 0.2s ease-in;

  &:hover {
    color: #ff3c15;
  }
}
